{
  "exclude": [".*.js$", ".*.test.*$", ".*.map$"],
    "jsc": {
      "target": "es2016",
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": true,
        "dynamicImport": true
      },
    "baseUrl": "src"
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true
  }
}
